<div class="header">
  <div class="zomato">zomato</div>
  <div class="search-bar-container">
    <div class="input-container">
      <div class="location">
        <i class="fa fa-map-marker"></i>
        <input type="text" placeholder="Chennai" />
      </div>
      <div class="search-bar">
        <i class="material-icons">search</i>
        <input type="text" placeholder="Search for restaurants, cuisine or a dish" />
      </div>
    </div>
  </div>
  <div class="login">Login</div>
  <div class="sign-up">Sign up</div>
</div>