<div class="choice">
  <div class="choice-boxes">
    <div class="icon"><img src="../../../assets/images/dining-out/scooter-icon.png"/></div>
    <span class="choice-text">Delivery</span>
  </div>
  <div class="choice-boxes">
    <div class="icon light-blue"><img src="../../../assets/images/dining-out/plate-icon.png"/></div>
    <span class="choice-text red">Dining Out</span>
  </div>
  <div class="choice-boxes">
    <div class="icon"><img src="../../../assets/images/dining-out/bottle-icon.png"/></div>
    <span class="choice-text">Nightlife</span>
  </div>

</div>

<div class="collection-options">
  <div class="heading">Collections</div>
  <div class="text">Explore curated lists of top restaurants, cafes, pubs, and bars in Chennai, based on trends
  </div>
  <div class="main-options">
    <app-collection-item *ngFor="let collectionOption of collectionOptionsList" content={{collectionOption.content}}
      img={{collectionOption.image}} visits={{collectionOption.visits}} url={{collectionOption.url}}>
    </app-collection-item>
  </div>
</div>

<div class="dine-out">
  <div class="heading">Dine-Out Restaurants in Chennai</div>
  <div class="dining-out-items">
    <app-dining-out-items *ngFor="let diningOutItems of diningOutItemsList" image={{diningOutItems.image}}
      title={{diningOutItems.title}} rating={{diningOutItems.rating}} type={{diningOutItems.type}}
      cost={{diningOutItems.cost}} place={{diningOutItems.place}} [routerLink]="['/restaurant', diningOutItems.title]">
    </app-dining-out-items>
  </div>
</div>