@import '~bootstrap/dist/css/bootstrap.min.css';

.header {
	height: 25rem;
  background-image: url(../../../assets/images/back-ground.png);
  padding: 1rem;
	background-repeat: no-repeat;
	color: white;
}

.nav-bar {
  display: flex;
	justify-content: space-between;
	padding: 0rem 7rem;
	height: 2rem;
}

.right-side {
	display: flex;
	justify-content: space-between;
}

.item  {
	padding: 0rem 1rem;
	justify-content: space-between;
	font-size: 1.3rem;
	cursor: pointer;
}

.middle-content {
	padding-top: 3rem;
}

.title {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 5rem;
	font-style: italic;
}

.content {
	display: flex;
	justify-content: center;
	font-size: 2.5rem;
}

.input-box {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.input-container {
	display: flex;
	font-weight: bold;
	font-size: 2rem;
	height: 3.5rem;
	background-color: white;
	width: 60%;
	border-radius: 10px;
  padding: 0 1rem;
}

.location {
	flex: .8;
	display: flex;
  align-items: center;
  color: #F87D8A;
  font-size: 1.3rem;

	i {
	  font-size: larger;
	}
}

.location input, .search-bar input{
	outline: 0;
  border: 0;
  color:black;
  margin-left: .5rem;
  width: 100%;
  font-size: 16px;
}

.search-bar {
  flex: 2;
  color: grey;
  display: flex;
  align-items: center;

	i {
		border-left: 2px solid #E8E8E8;
		padding-left: 1rem;
	}
}