<div class="header">
  <div class="nav-bar">
    <div class="left-side">Get the app</div>
    <div class="right-side">
      <div class="item">Add restaurant</div>
      <div class="item">Log in</div>
      <div class="item">Sign up</div>
    </div>
  </div>

  <div class="middle-content">
    <div class="title">zomato</div>
    <div class="content">Discover the best food & drinks in Chennai</div>
    <div class="input-box">
      <div class="input-container">
        <div class="location">
          <i class="fa fa-map-marker"></i>
          <input type="text" placeholder="Chennai" />
        </div>
        <div class="search-bar">
          <i class="material-icons">search</i>
          <input type="text" placeholder="Search for restaurants, cuisine or a dish" />
        </div>
      </div>
    </div>
  </div>
</div>